body {
  overscroll-behavior: contain;
}

#hs-menubar {
  background-color:white;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  height:100px;
  overflow-y: scroll;
  vertical-align: bottom;
}

#hs-sidebar {
  width:250px;
  background-color:lightgray;
  position:absolute;
  left:0px;
  top:100px;
  bottom:0px;
  overflow-y: scroll;
}

#hs-right-toolbar {
  width:300px;
  background-color:lightgray;
  position:absolute;
  right:0px;
  top:100px;
  bottom:0px;
  overflow-y: scroll;
}

#hs-main {
  background-color:gray;
  position:absolute;
  top:100px;
  bottom:0px;
  left:250px;
  right:300px;
}

.hs-slide {
  width:230px;
  height:144px;
  border:solid;
  border-color:black;
  border-width:1px;
  background-color:white;
  margin:10px 10px 0px 10px;
  border-radius:10px;
}

.hs-slide-id {
    position: relative;
    top: -28px;
    left: 15px;
    background-color: lightblue;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

#hs-active-slide {
  width:100%;
  aspect-ratio: auto 16 / 10;
  border:solid 1px;
  border-color:black;
  background-color:white;
}

